body {
    margin: 1% 5%;
    background-color: rgb(187, 184, 184);
}

div#opData {
    max-width: 30%;
    height: 100%;
    float: left;
    margin: 0%;
}

button#randomizeTest {
    float: left;
}

img#artwork {
    max-width: 45%;
    height: auto;
    float: left;
}

img#classIcon {
    height: 25%;
    width: 25%;
}

img#factionIcon {
    height: 25%;
    width: 25%;
}

ul#squad {
    margin: auto;
    list-style-type: none;
    width: 15%;
    display: inline;
    height: 100%;
    float: right;
}

ul#squad > img {
    height: 20%;
    width: 20%;
}

ul#squad > li {
    float:inline-start;
}

ul#squad > button {
    padding: 0;
    border: none;
    background: red;
    color: white;
}